// Specific CSS for your home-page
.signup{
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.textbox{
  height: 680px;
  align-items: center;
  display: flex;
  align-items: center;
}


.buttonbox{
 display: flex;
 flex-direction: column;
 align-items: center;
}

.hometext{
  text-align: center;
  font-size: xx-large;
  color: white;

}
