.hide-content{
  display: none;
}

.show-content{
  display: block;
}

.categoryHeader1{
  background-color: #49AA8C;
  color: white;
  width: 100%;
  z-index:500;
  text-align: center;
}

.categoryHeader2{
  background-color: #49AA8C;
  color: white;
  width: 100%;
  z-index:500;
  text-align: center;
}

.stickyCategory {
  position: fixed;
  top: 0;
  width: 100%;
}
