.btn-main-green {
  color: white;
  padding: 8px 24px;
  border-radius: 15px;
  opacity: 1;
  background-color: #659B91;
  margin: 10px;
  width: 90vw;
  border: 2px solid white;
}


.btn-main-blue {
  color: white;
  padding: 8px 24px;
  border-radius: 15px;
  opacity: 1;
  background-color: rgba(255, 135, 101, .9);
  margin: 10px;
  width: 90vw;
  text-align: center;
  text-decoration: none;
  border: 2px solid white;
}

.btn-sm-green {
  color: white;
  padding: 8px 24px;
  border-radius: 15px;
  opacity: 1;
  background-color: #659B91;
  margin: 10px;
  width: 85vw;
  border: 2px solid white;
}

.btn-sm-blue {
  color: white;
  padding: 8px 24px;
  border-radius: 15px;
  opacity: 1;
  background-color: rgba(255, 135, 101, .6);
  margin: 10px;
  width: 85vw;
  border: 2px solid white;
}

.btn-list-icon{
  background-color: rgb(233, 216, 202);
  height: 50px;
  width: 50px;
  ;
  border: 2px solid white;
  border-radius: 50%;
}

.btn-list-icon:hover{
  background-color: white;
  color: rgb(233, 216, 202);
}

.btn-div{
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.center-text{
  text-align: center;
}
