.card-order {
  overflow: hidden;
  background: rgb(255, 135, 101,);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  opacity: .9;
}

.card-order > img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.card-order h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-order p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-order .card-order-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  color: white;
}

.card-order-infos .card-order-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

// from UI kit, couldn't be arsed to change the names

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  align-self: center;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  justify-self: end;
  text-align: right;
  align-self: end;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: grid;
  grid-template-columns: 25% 75%;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
