.item-container{
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 0px 15px;
  border-bottom: 3px #EEEEEE;
  margin: 0px 2px;
}

.item-box-shadow{
  box-shadow: 3px 3px #cfbeb0;
}

.category-box-shadow{
  box-shadow: 3px 1px #cfbeb0;
}

.item-name{
  grid-column-start: 1;
  grid-row-start: 1;
}

.item-name-1{
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
  justify-self: center;
}

.checked-text{
  text-decoration: line-through;
}

.item-unit{
  grid-column-start: 1;
  grid-row-start: 2;
  font-style: italic;
  color: #888888;
}

.item-tickbox{
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: end;
  align-self: center;
}

.item-owed{
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: center;
  align-self: center;
  font-style: italic;
  padding: 5px 0px;
}

.center{
  text-align: center;
}

// .list-container{
//   background-color: white;
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   grid-template-rows: 1fr 1fr;
//   padding: 0px 15px;
//   border-bottom: 3px #EEEEEE;
// }

// .item-name{
//   grid-column-start: 1;
//   grid-row-start: 1;
// }

// .checked-text{
//   text-decoration: line-through;
// }

// .item-unit{
//   grid-column-start: 1;
//   grid-row-start: 2;
//   font-style: italic;
//   color: #888888;
// }

// .item-tickbox{
//   grid-column-start: 2;
//   grid-row-start: 1;
//   grid-row-end: 3;
//   justify-self: end;
//   align-self: center;
// }

// .center{
//   text-align: center;
// }
