.navbar-lewagon {
  justify-content: space-between;
  background: #659B91;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-nav li {
  color: white;
}

.nav-item{
  color: white;
}
